html,
body, #root {
  height: 100%;
  width:100%;
}

.black {
  color: #212121;
  font-weight: normal;
}
.grey {
  color: #212121;
  font-weight: lighter;
}

.top-container{
  width:100%;
  background-color: #666666;
  color: #FFFFFF;
  height:8rem;
}

.option-search{
  margin:2rem;
  float:right;
  display:inline-flex;
  flex-direction: column;
}
form {
  padding-top:0.5rem;
}

label {
  padding-left: 0.5rem;
  padding-right: 1rem;
}

input[type='radio']:after {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  /*top: -2px;*/
  /*left: -1px;*/
  position: relative;
  background-color: #666666;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #666666;
  outline: 2px solid white;
}

input[type='radio']:checked:after {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  /*top: -2px;*/
  /*left: -1px;*/
  position: relative;
  background-color: #ffffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #666666;
  outline: 2px solid white;
}

.options-label{
  padding: 0.5rem;
  padding-left: 0;
  padding-bottom: 0;
  text-transform: uppercase;
}

.range-search{
  margin:2rem;
  float:right;
  display:inline-flex;
  width:20%;
  flex-direction: column;
}

.range-controller-items{
  display:inline-flex;
  flex-direction: row;
  align-items: center;
}

.range-label{
  padding: 0.5rem;
  padding-bottom: 0;
  text-transform: uppercase;
}

.range-values{
  padding: 0.5rem;
}

.input-search{
  margin:2.5rem;
  /*float:left;*/
  display:inline-flex;
  max-width:25%;
}

input[type=text] {
  background-color: #666666;
  color: white;
  font-size: 2rem;
  padding-left: 2rem;
  border: 0;
}

.icon-search{
}

.box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  max-height: calc(100% - 8rem);
  overflow:hidden;
}

.left-container{
  order: 0;
  flex: 3 1 auto;
  align-self: stretch;
  overflow: auto;
  max-width:35%;
  height: calc(100vh - 8rem);
  border-right: 1px solid #ccc;
}

div.results-count{
  margin:2rem;
  font-size: 1rem;
  color: #666666;
  text-transform: uppercase;
}

div.movie-card{
  position: relative;
  width:100%;
  border-bottom:1px solid #c4c4c4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

div.movie-card-selected{
  position: relative;
  width:100%;
  border-bottom:1px solid #c4c4c4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  background-color:#ebebeb
}

div.movie-text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;

  order: 0;
  flex: 1 1 auto;
  align-self: auto;

  max-width: calc(100% - 80px - 4rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.movie-title{
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;

  margin-top: 2.5rem;
  font-size: 1em;
  margin-bottom: 0.5rem;
}

span.movie-date{
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;

  font-size:0.8em;
  color: #c3c3c3;
}

.guideline-rating{
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.9em;
}

.movie-subtitle{
  padding-left: 0.5rem;
}

.right-container{
  max-width: 62%;
  order: 0;
  flex: 5 1 auto;
  align-self: stretch;
  padding-top: 2rem;
  padding-left: 2rem;
  border-left: 1px solid #c4c4c4;
  max-height: calc(100vh - 8rem);
  overflow:hidden;
}

.column{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 1rem;
}

.row {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.5rem;
}

.middle-row{
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2rem;
}

.last-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.button{
  position: absolute;
  top: 10rem;
  right: 1rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 5px;
  line-height: 20px;
}

.icon-bookmark{
  padding-right:1rem;
  vertical-align: top;
}

.last-row-column{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.last-row-column:nth-child(1){
  border-right:1px solid #ccc;
  justify-content: center;
  padding-left:2rem;
  padding-right:2rem;
}

.last-row-column:nth-child(2){
  border-right:1px solid #ccc;
  justify-content: center;
  padding-left:2rem;
  padding-right:2rem;
}

.last-row-column:nth-child(3){
  justify-content: center;
  padding-left:2rem;
  padding-right:2rem;
}