html,
body, #root {
  height: 100%;
  width:100%;
}

.black {
  color: #212121;
  font-weight: normal;
}
.grey {
  color: #212121;
  font-weight: lighter;
}

.top-container{
  width:100%;
  background-color: #666666;
  /*height:2rem;*/
}

.option-search{
  margin:2rem;
  float:right;
  display:inline-flex;
}

.range-search{
  margin:2rem;
  float:right;
  display:inline-flex;
  width:20%;
}

.input-search{
  margin:2rem;
  /*float:left;*/
  display:inline-flex;
}

.box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  height: calc(100vh - 6rem);
}

.left-container{
  order: 0;
  flex: 3 1 auto;
  align-self: stretch;
  overflow: auto;
  max-width:40%;
  height: 100%;
}

span.results-count{
  margin:2rem;
  font-size: 1rem;
  color: #666666;
}

div.movie-card{
  position: relative;
  width:100%;
  border-bottom:1px solid #c4c4c4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

div.movie-text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;

  order: 0;
  flex: 1 1 auto;
  align-self: auto;

  max-width: calc(100% - 80px - 4rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.movie-title{
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;

  margin-top: 2.5rem;
  font-size: 1em;
  margin-bottom: 0.5rem;
}

span.movie-date{
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;

  font-size:0.8em;
  color: #c3c3c3;
}

.right-container{
  order: 0;
  flex: 5 1 auto;
  align-self: stretch;
  padding-top: 2rem;
  padding-left: 2rem;
  border-left: 1px solid #c4c4c4;
}